<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://js.pusher.com/7.2/pusher.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="src/css/style.css" rel="stylesheet" type="text/css">
  <title>Расписание ВятГУ</title>
</head>

<body>
  <div id="app" class="container" style="padding-top: 65px;">

    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand">Расписание ВятГУ</a>
      </div>
    </nav>

    <div class="settingsButton" :class="(settings)?'popup':'close'">
      <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" @click="settings = !settings">
        <g data-name="Layer 2" id="Layer_2">
          <path fill="#ffffff"
            d="M18,29H14a1,1,0,0,1-1-1V26.56a1.38,1.38,0,0,0-2.35-1l-1,1a1,1,0,0,1-1.42,0L5.39,23.78a1,1,0,0,1,0-1.42l1-1a1.38,1.38,0,0,0-1-2.35H4a1,1,0,0,1-1-1V14a1,1,0,0,1,1-1H5.44a1.38,1.38,0,0,0,1-2.35l-1-1a1,1,0,0,1,0-1.42L8.22,5.39a1,1,0,0,1,1.42,0l1,1a1.38,1.38,0,0,0,2.35-1V4a1,1,0,0,1,1-1h4a1,1,0,0,1,1,1V5.44a1.38,1.38,0,0,0,2.35,1l1-1a1,1,0,0,1,1.42,0l2.83,2.83a1,1,0,0,1,0,1.42l-1,1a1.38,1.38,0,0,0,1,2.35H28a1,1,0,0,1,1,1v4a1,1,0,0,1-1,1H26.56a1.38,1.38,0,0,0-1,2.35l1,1a1,1,0,0,1,0,1.42l-2.83,2.83a1,1,0,0,1-1.42,0l-1-1a1.38,1.38,0,0,0-2.35,1V28A1,1,0,0,1,18,29Zm-3-2h2v-.44a3.37,3.37,0,0,1,5.76-2.38l.31.31,1.42-1.42-.31-.31A3.37,3.37,0,0,1,26.56,17H27V15h-.44a3.37,3.37,0,0,1-2.38-5.76l.31-.31L23.07,7.51l-.31.31A3.37,3.37,0,0,1,17,5.44V5H15v.44A3.37,3.37,0,0,1,9.24,7.82l-.31-.31L7.51,8.93l.31.31A3.37,3.37,0,0,1,5.44,15H5v2h.44a3.37,3.37,0,0,1,2.38,5.76l-.31.31,1.42,1.42.31-.31A3.37,3.37,0,0,1,15,26.56Z">
          </path>
          <path fill="#ffffff" d="M16,21a5,5,0,1,1,5-5A5,5,0,0,1,16,21Zm0-8a3,3,0,1,0,3,3A3,3,0,0,0,16,13Z"></path>
        </g>
      </svg>
      <center v-if="settings">
        <h2 style="color: white; margin-top: -20px; margin-bottom: 0;">Настройки</h2>
        <p style="color: white; line-height: 1.2; padding: 0 20px;">Пожалуйста, введите логин и пароль от Вашего личного
          кабинета ВятГУ.</p>
        <div class="form-group" style="padding: 0 16px 0 16px;">
          <input class="form-control" style="margin-bottom: 16px;" type="text" name="username" id="username" placeholder="Логин"
            v-model="login">
          <input class="form-control" style="margin-bottom: 16px;" type="password" name="password" id="password" placeholder="Пароль"
            v-model="password">
            <div class="form-check" style="text-align: left;padding-bottom: 10px;">
              <input class="form-check-input" type="checkbox" value="" id="remember" v-model="remember">
              <label class="form-check-label" for="remember" style="color: white; line-height: 1.2; padding: 0; font-size: 75%;position: relative; bottom: 3px;">
                - запомнить меня на этом устройстве
              </label>
            </div>
          <button class="btn btn-light" style="margin-bottom: 16px;" @click="saveSettings">Войти</button>
        </div>
      </center>
    </div>

    <center v-if="loading">
      <br><br>
      <img src="src/img/loading-snake-io.gif" style="width:32px">
      <h3>Загрузка расписания...</h3>
      <a href="https://new.vyatsu.ru/account/obr/rasp/">new.vyatsu.ru</a>
      <span style="font-size: 80%; color: rgb(90, 90, 90);"> | </span>
      <a href="https://rasp.markovrv.ru/">rasp.markovrv.ru</a><br>
      <img class="adsdesktop" src="http://qrcoder.ru/code/?https%3A%2F%2Fdisk.yandex.ru%2Fd%2FsN2Iaazo3XsBag&4&0" width="148" height="148" border="0" title="Приложение для Андроид">
      <a href="https://disk.yandex.ru/d/sN2Iaazo3XsBag">Приложение для Андроид</a>
    </center>

    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Расписание студентов
            </h5>
          </div>
          <div class="modal-body">
            <p v-html="winStud.rasp"></p>
            <div>
              <button v-for="(date, idd) in winStud.dates" :key="idd" type="button" class="btn btn-link" @click="getStRasp(winStud.group, date)">{{ date }}</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" @click="winStudHide" class="btn btn-primary">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-if="winKab.rasp.length > 0 && winKab.kabs.length > 0 && winKab.dates.length > 0">
              Занятость аудиторий {{winKab.kabs[winKab.current.kab].split('-')[0]}} корпуса
            </h5>
          </div>
          <div class="modal-body row">
            <div class="btn-group col-6">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" @click="scrollKab(winKab.current.kab)">
                {{winKab.kabs[winKab.current.kab]}}
              </button>
              <ul id="kablist" class="dropdown-menu" style="max-height: 300px; overflow-y: scroll;">
                <li v-for="(kab, idk) in winKab.kabs" :key="idk">
                  <a :id="`kab_${idk}`" @click="winKab.current.kab = idk" class="dropdown-item" :class="(winKab.current.kab == idk)?'active':''" href="javascript://">{{kab}}</a>
                </li>
              </ul>
            </div>
            <div class="btn-group col-6">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {{winKab.dates[winKab.current.cDay]}}
              </button>
              <ul class="dropdown-menu" style="max-height: 300px; overflow-y: scroll;">
                <li v-for="(date, idd) in winKab.dates" :key="idd">
                  <a @click="winKab.current.cDay = idd" class="dropdown-item" :class="(winKab.current.cDay == idd)?'active':''" href="javascript://">{{date}}</a>
                </li>
              </ul>
            </div>
            <div v-if="winKab.rasp.length > 0 && winKab.kabs.length > 0 && winKab.dates.length > 0" style="margin-top:12px" class="col-12">
              <table class="table">
                <tr v-for="(lsn, idl) in winKab.rasp[winKab.current.kab].data[winKab.current.cDay].lessons" :key="idl">
                  <th scope="col"><small>{{idl+1}}</small></th>
                  <td><small>{{(lsn)?lsn:'Свободно'}}</small></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" @click="winKabHide" class="btn btn-primary">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Журнал нагрузки</h5>
          </div>
          <div class="modal-body">
            <table class="table">
              <tr>
                <th scope="col">Дата</th>
                <th scope="col">Кол-во</th>
                <th scope="col">Кабинет</th>
              </tr>
              <tr v-for="(item, id) in winLog.log" :key="id" class="small">
                <th scope="row">{{item[0]}}</th>
                <td>{{item[1]}} ч.</td>
                <td>{{item[2]}}</td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" @click="winLogHide" class="btn btn-primary">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Лог загрузки данных</h5>
          </div>
          <div id="my-event" class="modal-body" style="height: 300px; overflow-y: scroll;background: black;color: white;font-family: monospace;font-weight: bold;">
              <div v-for="(item, id) in messages" :key="id" class="small">
                > <span :style="'color: ' + item.color">{{item.message}}</span>
              </div>
              <span v-if="messages.length == 0 || messages[messages.length-1].message != 'Конец обработки'">> _ </span><br><br>
          </div>
          <div class="modal-footer">
            <button type="button" @click="winLoaderHide" class="btn btn-primary">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <div v-for="(day, idd) in days" :key="idd">
      <a :name="idd" style="width: 0px; height: 0px; overflow: hidden; display: block; position: relative; top: -70px;">.</a>
      <b style="font-size: 120%;">{{day.day}}</b> 
      <a class="btn btn-light btn-sm" :id="'daytoissid_'+idd" style="display: block; float: right;" href="javascript://" @click="sendDayWork(idd, 'daytoissid_'+idd)">День в журнал</a>
      <div v-for="(lesson, idl) in day.lessons" :key="idl" style="padding-left: 6px; padding-bottom: 12px; clear: both;">
        <div><b>{{lesson.time}}</b> {{lesson.predm}}</div>
        <div style="padding-left: 6px;">
          <span style="font-size: 80%;"><span style="font-weight: bold;" v-html="lesson.kab"></span> {{lesson.type}} {{lesson.groups.join(", ")}}</span>
        </div>
        <div>
          <a title="Загрузить занятость аудиторий" class="btn btn-light btn-sm" href="javascript://" @click="getKab(day.day, lesson.kab, lesson)"><img style="width: 24px;" src="src/img/home.svg"></a> 
          <a title="Загрузить расписание группы студентов" class="btn btn-light btn-sm" href="javascript://" @click="getStRasp(lesson.groups[0], dateFormat(day.day))"><img style="width: 24px;" src="src/img/student.svg"></a> 
          <a title="Отметить нагрузку в Журнале преподавателя" :id="`lessontoissid_${idd}_${idl}`" class="btn btn-light btn-sm" href="javascript://" @click="sendOneWork(idd, idl, `lessontoissid_${idd}_${idl}`)"><img style="width: 24px;" src="src/img/journal.svg"></a> 
          <i v-if="lesson.status" class="small" @click="winLogShow(lesson.log)" :style="'color: ' + lesson.color + '; padding-left: 6px; '+((lesson.log)?'text-decoration: underline; cursor: pointer;':'')">{{lesson.status}}</i>
        </div>
      </div>
      <hr>
    </div>
  </div>

  <script>

    function today() {
      var today = new Date();
      var dd = String(today.getDate()).padStart(2, '0');
      var mm = String(today.getMonth() + 1).padStart(2, '0');
      var yy = today.getYear() - 100;

      return dd + '.' + mm + '.' + yy;
    }

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = false;

    var pusher = new Pusher('499bb8d44438cabb3eab', {
      cluster: 'eu'
    });

    const app = new Vue({
      el: '#app',
      data: {
        days: [],
        login: "",
        password: "",
        settings: false,
        loading: false,
        winStud: {
          rasp: "",
          dates: []
        },
        winLog: {
          log: []
        },
        winKab: {
          kabs: [],
          dates: [],
          rasp: [],
          current: {
            kab: 0,
            cDay: 0,
          }
        },
        messages: [],
        remember: false
      },
      methods: {
        saveSettings() {
          if (this.remember){
            localStorage.login = this.login
            localStorage.password = this.password
            localStorage.remember = "true"
          } else {
            localStorage.login = ''
            localStorage.password = ''
            localStorage.remember = ''
          }
          this.settings = false
          this.loadData()
        },
        async loadData() {

          if (localStorage.remember == "true"){
            this.login = localStorage.login;
            this.password = localStorage.password;
            this.remember = true;
          }

          this.days = []
          if (!this.login || !this.password) {
            this.settings = true
            return 0
          }

          this.loading = true

          var channel = pusher.subscribe(this.login);
          channel.bind('my-event', function(data) {
            app.messages.push(JSON.parse(JSON.stringify(data)));
            var objDiv = document.getElementById("my-event");
            objDiv.scrollTop = objDiv.scrollHeight + 100;
          });

          axios.post('https://e.markovrv.ru/api/v2/', {
            login: this.login,
            password: this.password
          })
            .then(response => {
              this.loading = false
              this.days = response.data

              this.days.forEach((day, id) => {
                if (day.day.indexOf(today()) >= 0)
                  setTimeout(() => { 
                    window.location.href = "#"+id; 
                  }, 300);
              })

              window.winStudObj = new bootstrap.Modal(document.getElementsByClassName("modal")[3], { keyboard: false });
              window.winKabObj =  new bootstrap.Modal(document.getElementsByClassName("modal")[2], { keyboard: false });
              window.winLogObj =  new bootstrap.Modal(document.getElementsByClassName("modal")[1], { keyboard: false });
              window.winLoader =  new bootstrap.Modal(document.getElementsByClassName("modal")[0], { keyboard: false });
            })
        },
        sendOneWork(idd, idl, sender) {
          this.sendCommand([this.createData(idd, idl)], sender)
        },
        scrollKab(kid) {
          setTimeout(()=>{
            document.getElementById('kablist').scrollTop = document.getElementById(`kab_${kid}`).offsetTop;
          }, 500);
        },
        sendDayWork(idd, sender) {
          var data = []
          var lessonsCount = this.days[idd].lessons.length
          for(let idl = 0; idl < lessonsCount; idl++) {
            data.push(this.createData(idd, idl))
          }
          this.sendCommand(data, sender)
        },
        winLogShow(log){
          if(log){
            this.winLog.log = log;
            winLogObj.show();
          }
        },
        winLoaderShow(){
            if(window.winLoaderTimer) clearTimeout(winLoaderTimer);
            this.messages = []
            winLoader.show();
        },
        winLogHide(){
            this.winLog.log = [];
            winLogObj.hide();
        },
        winLoaderHide(){
            this.messages = [];
            winLoader.hide();
        },
        winKabHide(){
            winKabObj.hide();
        },
        winStudHide(){
            winStudObj.hide();
        },
        createData(idd, idl) {
          var day = this.days[idd].day
          var lesson = this.days[idd].lessons[idl]
          const times = ["8:20-9:50", "10:00-11:30", "11:45-13:15", "14:00-15:30", "15:45-17:15", "17:20-18:50", "18:55-20:25"]
          lesson.status = "Передача данных...";
          lesson.color = "";
          lesson.log = null;
          return {
            name: lesson.predm,
            date: (day.split(' ')[1]).replace('.22', '.2022'),
            time: times.indexOf(lesson.time)+1,
            groups: lesson.groups.sort().join(", ").replace(',подгруппа1', ', 1 подгруппа').replace(',подгруппа2', ', 2 подгруппа'),
            cat: (lesson.type == "Лекция")?0:((lesson.type == "Практическое занятие")?1:2),
            kab: lesson.kab.replace('<a href="', '').replace('" target="_blank">Занятие удаленно в Teams</a>', ''),
            count: 2,
            id: [idd, idl]
          }
        },
        dateFormat(date) {
          var datArr = date.split(" ")
          return `${datArr[1].slice(0,-3)} ${datArr[0]}`
        },
        async getStRasp(group, date) {
          console.log("Запрос расписания ", group);
          this.winStud.rasp = '<center><img src="src/img/loading-snake-io.gif" style="width:32px"><h4>Загрузка расписания...</h4></center>';
          this.winStud.dates = [];
          winStudObj.show();
          axios({
            method: 'post',
            url: 'api/stud',
            timeout: 20000,
            data: {
              group,
              date
            }
          }).then(response => {
              console.log(response.data)
              this.winStud.rasp = response.data.rasp
              this.winStud.dates = response.data.dates
              this.winStud.group = response.data.group
          }).catch(console.log)
        },
        async sendCommand(data, sender) {
          var content = {
            data,
            auth: {
              login: this.login,
              password: this.password
            }
          }
          
          // console.log(content)

          this.winLoaderShow()
          document.getElementById(sender).classList.add("disabled");

          axios({
            method: 'post',
            url: 'api/iss',
            timeout: 60000,
            data: content
          }).then(response => {
              // console.log(response.data)
              response.data.forEach(item => {
                this.days[item.id[0]].lessons[item.id[1]].status = item.status
                this.days[item.id[0]].lessons[item.id[1]].color = item.color
                this.days[item.id[0]].lessons[item.id[1]].log = (item.log)?item.log:null
                
                document.getElementById(sender).classList.remove("disabled");
                window.winLoaderTimer = setTimeout(()=>{
                  this.winLoaderHide();
                }, 10000)
              });
            })
        },
        async getKab(day, kab, lesson) {
          if (kab.length > 10) return null
          var cDay = (day.split(' ')[1]).replace('.22', '2022').replace('.', '')
          lesson.status = "Получение данных...";
          lesson.log = null;
          lesson.color = '';
          axios.get(`https://e.markovrv.ru/api/v2/kabs.php?day=${cDay}&corp=${kab.split('-')[0]}`)
            .then(response => {
              // console.log(response.data)
              this.winKab.kabs  = response.data.kabs
              this.winKab.dates = response.data.dates
              this.winKab.rasp  = response.data.rasp
              this.winKab.current.kab  = response.data.kabs.findIndex(el=>(el == kab))
              this.winKab.current.cDay = response.data.dates.findIndex(el=>(el.split(" ")[1] == day.split(" ")[1]))
              lesson.status = "";
              winKabObj.show();
            })
        },
      },
      mounted() {
        this.loadData()
      }
    })

  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>